/.DS_Store
/.vscode
/blog-details.html
/blog.html
/index2.html
/index3.html
/index5.html
/indexx.html
/project-details.html
/project-details2.html
/showcase.html
/showcase2.html
/showcase3.html
/showcase4.html
/showcase5.html
/works.html
/works2.html
/works3.html
/works4.html